.deny{
    margin: 5% !important;
}
.hpage{
    background: #6a8296;  /* fallback for old browsers */
}
.addbtn{
    background-color: #0B4B36;
    border: 0;
    color: white;
    }
.nvb{
    background-color: #0B4B36 !important;
    color: #000 !important;
}
.bgd{
    background-color: #F7F7F7 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    /* color: #FFF !important; */
}